FIREWORKS_API_KEY=
GROQ_API_KEY=
TAVILY_API_KEY=
OPENAI_API_KEY=

# LangSmith
LANGSMITH_API_KEY=lsv2_pt_...
LANGCHAIN_TRACING_V2=true
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=Session10-LLM-Servers

# Fireworks models
FIREWORKS_EMBEDDING_MODEL=accounts/fireworks/models/qwen3-embedding-8b
FIREWORKS_CHAT_MODEL=accounts/fireworks/models/gpt-oss-20b

# Groq model
GROQ_CHAT_MODEL=openai/gpt-oss-20b